@(title: String, user: Map[String, String], logs: List[tools.Models.Log])
@layout(title) {
        @if(user.get("username").isDefined) {
            <h1>Hello, @user.getOrElse("username", "guest")!</h1>
        } else {
            <h1>Drone logs</h1>
        }
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Drone ID</th>
                    <th>Speed</th>
                    <th>Altitude</th>
                    <th>Latitude</th>
                    <th>Longitude</th>
                    <th>DateTime</th>
                    <th>Temperature</th>
                    <th>Battery</th>
                </tr>
            </thead>
            <tbody>
            @for(log <- logs){
                <tr>
                    <td>@log.id</td>
                    <td>@log.id_drone</td>
                    <td>@log.speed</td>
                    <td>@log.altitude</td>
                    <td>@log.latitude</td>
                    <td>@log.longitude</td>
                    <td>@log.datetime</td>
                    <td>@log.temperature</td>
                    <td>@log.battery</td>
                </tr>
                }
            </tbody>
        </table>
}
