@(title: String, user: Map[String, String], drones: List[tools.Models.Drone])
@layout(title) {
        @if(user.get("username").isDefined) {
            <h1>Hello, @user.getOrElse("username", "guest")!</h1>
        } else {
            <h1>Hello, Guest</h1>
        }
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Brand</th>
                </tr>
            </thead>
            <tbody>
            @for(drone <- drones){
                <tr>
                    <td><a href="/drones/@drone.id">@drone.id</a></td>
                    <td>@drone.brand</td>
                </tr>
                }
            </tbody>
        </table>
}
